.btn_red,
.btn_blue,
.btn_green{
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    a{
        display: block;
        color: #fff;
    }
}

.btn_red{
    background: #e5004f;
}

.btn_blue{
    background: #1b64b0;
}

.btn_green{
    background: #78bc28;
}


.input_check{
    margin: 0 10px;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    line-height: 30px;
    text-align: center;
    input{
        -webkit-appearance: none;
        border: 1px solid #000;
        width: 20px;
        height: 20px;
        outline: none;
        background: #aaa;
        -webkit-border-radius: 20px;
        -webkit-box-shadow: inset 1px 1px 1px #fff,
             inset -1px -1px 1px #fff,
             inset 1px -1px 1px #fff,
             inset -1px 1px 1px #fff,
             inset -1px 0 1px #fff,
             inset 1px 0 1px #fff,;
        &:checked{
            background: #e5004f;
        }
    }
}