.detail{
    border: 10px solid #fff;
    background: #fff;

    .this_title_text{
        color: #1a65b0;
        line-height: 30px;
        span{
            color: #e5004f;
        }
    }

    .this_title_dist{
        font-size: 16px;
        line-height: 30px;
        padding-left: 15px;
        background: url(images/icon_10.png) no-repeat 0 center;
        background-size: 13px auto;
    }

    .this_btn{
        display: -webkit-box;
        margin-bottom: 10px;
        -webkit-box-pack: justify;
        li{
            display: block;
            width: 80px;
            height: 80px;
            border: 4px solid #fff;
            text-align: center;
            -webkit-border-radius: 80px;
            line-height: 130px;
            overflow: hidden;
            color: #fff;
            &:nth-child(1){
                background: url(images/icon_20.png) no-repeat center 5px  #f5ac6d;
                background-size: 50px auto;
                &:active{
                    background: url(images/icon_20.png) no-repeat center 5px #ae794c;
                    background-size: 50px auto;
                }
            }
            &:nth-child(2){
                background: url(images/icon_18.png) no-repeat center 5px #ec6f65;
                background-size: 40px auto;
                &:active{
                    background: url(images/icon_18.png) no-repeat center 5px #a84c46;
                    background-size: 40px auto;
                }
            }
            &:nth-child(3){
                background: url(images/icon_19.png) no-repeat center 10px #e5004f;
                background-size: 50px auto;
                &:active{
                    background: url(images/icon_19.png) no-repeat center 10px #a30035;
                    background-size: 50px auto;
                }
            }
            a{
                display: block;
                color: #fff;
            }
        }
    }

    .this_text{
        line-height: 20px;
    }

    .this_tab{
        display: -webkit-box;
        li{
            background: #1a65b0;
            text-align: center;
            color: #fff;
            line-height: 30px;
            width: 0;
            margin-right: 5px;
            -webkit-box-flex: 1;
            &.current{
                background: #438fcd;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .this_title_money{
        background: url(images/icon_27.png) no-repeat 0 center;
        background-size: 20px auto;
        line-height: 30px;
        color: #1a65b0;
        padding-left: 20px;
        span{
            float: right;
        }
    }

    .this_table{
        border-top: 1px solid #1b64b0;
        border-left: 0;
        border-right: 0;
        margin-bottom: 10px;
        li{
            border-bottom: 1px solid #1b64b0;
            display: -webkit-box;
            -webkit-box-align: center;
            background: -webkit-linear-gradient(left, #fff 0, #fff 70px, #1b64b0 70px, #fff 71px, #fff);
            div{
                &:nth-child(1){
                    width: 70px;
                    height: 20px;
                    line-height: 20px;
                    padding-top: 45px;
                    padding-bottom: 10px;
                    overflow: hidden;
                    text-align: center;
                    // border-right: 1px solid #1b64b0;
                }
                &:nth-child(2){
                    -webkit-box-flex: 1;
                    padding: 10px;
                }
            }
            .this_icon_air{
                background: url(images/icon_21.png) no-repeat center 10px;
                background-size: 40px auto;
            }
            .this_icon_hotel{
                background: url(images/icon_22.png) no-repeat center 10px;
                background-size: 40px auto;
            }
            .this_icon_car{
                background: url(images/icon_23.png) no-repeat center 10px;
                background-size: 40px auto;
            }
            .this_icon_visit{
                background: url(images/icon_24.png) no-repeat center 10px;
                background-size: 40px auto;
            }
            .this_icon_dine{
                background: url(images/icon_25.png) no-repeat center 10px;
                background-size: 40px auto;
            }
            .this_icon_other{
                background: url(images/icon_26.png) no-repeat center 10px;
                background-size: 40px auto;
            }
        }
    }
}


.detail_info{
    border: 10px solid #fff;
    li{
        border-bottom: 1px solid #000;
        display: -webkit-box;
        line-height: 30px;
        padding: 5px 0;
        div{
            &:nth-child(1){
                width: 75px;
            }
            &:nth-child(2){
                -webkit-box-flex: 1; 
            }
        }
        dl{
            width: 100%;
            dt{
                line-height: 30px;
                border-bottom: 1px dashed #000;
                margin-bottom: 5px;
            }
            dd{
                display: -webkit-box;
                div{
                    -webkit-box-flex: 1;
                    line-height: 25px;
                }
            }
        }
    }
}


.detail_order_money{
    background: #000;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 10px;
    span{
        float: right;
    }
}