.icon_01{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(images/icon_16.png) no-repeat center center;
    background-size: 18px auto;
}

.icon_02{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(images/icon_17.png) no-repeat center center;
    background-size: 18px auto;
}

.icon_tel{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(images/icon_28.png) no-repeat center center;
    background-size: 18px auto;
}