

.tab_01{
    background: #1965b0;
    height: 40px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    li{
        display: block;
        width: 33.3333%;
        -webkit-box-flex: 1;
        line-height: 40px;
        cursor: pointer;
        @include border_right_half;
        &.current{
            background: #e50150;
            position: relative;
            &:before,
            &:after{
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                margin-left: -5px;
                bottom: -10px;
                border-style: solid;
                border-width: 5px;
                border-color: #e50150 transparent transparent transparent;
            }
        }
        &:last-child{
            border-right: 0;
        }
    }
}

.tab_02{
    display: -webkit-box;
    padding: 0 10px;
    li{
        background: #717071;
        width: 50%;
        text-align: center;
        color: #fff;
        line-height: 30px;
        -webkit-box-flex: 1;
        cursor: pointer;
        &.current{
            background: #e5004f;
            position: relative;
            &:after{
                display: block;
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: -10px;
                border-width: 5px;
                border-style: solid;
                border-color: #e5004f transparent transparent transparent;
            }
        }
        &:nth-child(1){
            margin-right: 5px;
        }
        &:nth-child(2){
            margin-left: 5px;
        }
    }
}

.tab_03{
    display: -webkit-box;
    padding: 0 10px;
    li{
        background: #717071;
        width: 0;
        text-align: center;
        color: #fff;
        line-height: 30px;
        -webkit-box-flex: 1;
        cursor: pointer;
        &.current{
            background: #e5004f;
            position: relative;
            &:after{
                display: block;
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: -10px;
                border-width: 5px;
                border-style: solid;
                border-color: #e5004f transparent transparent transparent;
            }
        }
    }
}