*{ margin:0; padding:0; }
body{
    font-family:"Microsoft YaHei", Arial; font-size:14px; background:#fff; height:100%;
    /*-webkit-user-select:none;*/
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
}
ul,li{ list-style:none; }
img{ border:0; }
li,img,label,input{ vertical-align:middle; }
a{ text-decoration:none; outline:0; color:#333; }
a:visited{ text-decoration:none; }
/*a:hover{ color:#247df5; color:#1663ff; }*/
em,b{ font-style:normal; }

.clearfix:after{ content:""; display:block; height:0; overflow:hidden; clear:both; }
.clearfix{ *+height:1%; }


/*mask*/
.mask{ width:100%; background:rgba(0,0,0,.6); position:absolute; left:0; top:0; z-index:99; }



/*header*/
.header{ width:100%; }
.header .logo{ background:#fff; padding:10px; text-align:center; }
.header .logo img{ width:240px; margin:0 auto; }
.header .reg a{ background:#b7aa88; display:block; width:150px; cursor:pointer; line-height:30px; text-align:center; color:#fff; }
.header .menu{ font-size:0; }
.header .menu li{
    width:50%; display:inline-block; font-size:14px; background:#b7aa88; text-align:center;
    border-bottom:1px solid #fff; -webkit-box-sizing:border-box;
}
.header .menu li:nth-child(odd){ border-right:1px solid #fff; }
.header .menu li a{ display:block; line-height:20px; padding:5px 0; color:#fff; }
.header .menu li a:hover{ background:#000; }



/*banner*/
.banner_01{ padding:10px; -webkit-box-sizing:border-box; width:100%; }
.banner_01 img{ width:100%; }



/*container*/
.container{ padding:10px; -webkit-box-sizing:border-box; width:100%; }

/*list*/
.list_01{ width:100%; }
.list_01 li{ border-top:1px solid #b7aa88; padding:15px 0; position:relative; }
.list_01 li h3{ font-size:18px; font-weight:bold; line-height:20px; padding-bottom:5px; }
.list_01 li h3 a{ color:#000; display:block; }
.list_01 li article{ color:#b7aa88; }
.list_01 li.new em{
    color:#fff; text-align:center; line-height:20px; position:absolute; right:0; top:0;
    width:50px; background:#b7aa88; font-size:12px;
}
.list_01 li.new h3 a{ color:#b7aa88; }


.list_02{ width:100%; }
.list_02 .this_block{ background:#eee; margin-bottom:1px; }
.list_02 .this_block .this_container{ display:none; padding:5px; }
.list_02 .this_block h3{
    line-height:30px; color:#b7aa88; font-size:14px;
    border-left:10px solid rgba(0,0,0,0); border-right:10px solid rgba(0,0,0,0);
    background:url(images/app_arrow_right.png) no-repeat right center #000;
    background-size:auto 60%;
}
.list_02 .this_block .this_list{ margin-bottom:2px; }
.list_02 .this_block .this_list h4{ background:#b7aa88; padding:0 10px; color:#fff; line-height:25px; font-size:14px; }
.list_02 .this_block .this_list dl{ padding:0 5px; display:none; }
.list_02 .this_block .this_list dt{ color:#999; border-bottom:1px solid #ccc; line-height:30px; text-indent:20px; }
.list_02 .this_block .this_list dl dd{ line-height:30px; cursor:pointer; }
.list_02 .this_block .this_list dl dd span{ display:inline-block; border:1px solid #000; background:#fff; width:10px; height:10px; vertical-align:middle; margin-right:5px; }
.list_02 .this_block .this_vote{ cursor:pointer; border-top:1px solid #ddd; padding:15px 10px; margin-top:5px; }
.list_02 .this_block .this_vote .this_vote_btn{
    background:#b7aa88; line-height:40px; width:130px; text-align:center; margin:0 auto; display:block;
    color:#fff; font-size:16px; -wekbit-box-shadow:2px 2px 5px rgba(0,0,0,.3); margin-bottom:15px;
}
.list_02 .this_block .this_vote .this_vote_text{ color:#979797; font-size:12px; line-height:20px; }

.list_02 .this_block.current .this_container{ display:block; }
.list_02 .this_block.current h3{
    color:#fff;
    background:url(images/app_arrow_down.png) no-repeat right center #000;
    background-size:auto 60%;
}
.list_02 .this_block .this_list.current dl{ display:block; }
.list_02 .this_block .this_list dl dd.select{ color:#b7aa88; }
.list_02 .this_block .this_list dl dd.select span{ background:#b7aa88; }


.list_03{ font-size:0; border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px; }
.list_03 li{ width:50%; font-size:14px; color:#989898; display:inline-block; line-height:25px; }
.list_03 li a{ color:#aaa; line-height:25px; display:block; }
.list_03 li span{ color:#b7aa88; display:inline-block; width:25px; }


/*icon*/
.icon_01{
    width:20px; height:20px; background:url(images/icon_01.jpg) no-repeat center center;
    background-size:100% auto; display:inline-block; vertical-align:middle;
}



/*border*/
.single_border{
    background:url(images/line.jpg) 0 0 repeat-x;
    background-size:auto 10px;
}
.double_border{
    background-image:url(images/line.jpg), url(images/line.jpg);
    background-position:0 0, 0 bottom;
    background-repeat:repeat-x, repeat-x;
    background-size:auto 10px, auto 10px;
}


/*other*/
.other_01{ padding:30px 0 20px; text-align:center; }
.other_01 img{ width:60%; margin:0 auto; }

.other_02{ padding:30px 0; }
.other_02 img{ width:100%; }
.other_02 ul{ display:-webkit-box; padding-top:10px; }
.other_02 ul li{ display:block; width:50%; }
.other_02 ul li a{ cursor:pointer; display:block; text-align:center; height:30px; line-height:30px; color:#fff; width:100px; }
.other_02 ul li a.this_rss{ background:#000; }
.other_02 ul li a.this_app{ background:url(images/appstore.jpg) no-repeat 0 0; background-size:auto 100%; }

.other_03{ line-height:20px; color:#979797; padding:30px 0; }

.other_04{ font-size:16px; font-weight:bold; border-bottom:1px solid #eee; text-align:center; padding-bottom:10px; }



/*box*/
.box{
    border:5px solid #ecebe9; position:absolute; left:50%; height:270px; width:280px; margin-left:-145px; margin-top:-195px;
    background:url(images/app_box_logo.jpg) no-repeat center 180px #fff; background-size:200px auto;
    display:none; z-index:100;
}
.box .this_close{
    position:absolute; right:-10px; top:-10px; width:20px; height:20px; line-height:20px; overflow:hidden;
    background:#000; color:#fff; text-align:center; border:1px solid #fff; text-indent:-9999px;
    -webkit-border-radius:20px;   
}
.box .this_close:before,
.box .this_close:after{ background:#fff; display:block; width:14px; height:2px; content:""; position:absolute; }
.box .this_close:before{ -webkit-transform:rotate(45deg); left:3px; top:9px; }
.box .this_close:after{ -webkit-transform:rotate(-45deg); left:3px; top:9px; }


.box_vote .this_text{ font-size:14px; font-weight:bold; padding:10px; }
.box_vote .this_text .this_btn{ text-align:center; }
.box_vote .this_text .this_btn a{ display:inline-block; background:#b7aa88; width:100px; line-height:30px; text-align:center; color:#fff; }
.box_vote .this_text .this_btn a:nth-child(1){ margin-right:20px; }




/*title*/
.title_01{ font-weight:bold; font-size:14px; line-height:20px; padding-top:10px; }

.title_02{ font-weight:bold; font-size:20px; line-height:30px; padding:10px 0; }




/*reg*/
.register{ width:100%; padding:20px; -webkit-box-sizing:border-box; }
.register h2,
.register h3{ font-size:14px; font-weight:bold; text-align:center; }
.register h3{ color:#b7aa88; margin-bottom:20px; }
.register dt{ font-weight:bold; line-height:20px; }
.register dd{ margin-bottom:5px; }
.register dd input{ line-height:20px; padding:5px; border:1px solid #ddd; width:200px; }
.register .this_line{ height:1px; font-size:0; background:#ddd; margin:30px 0; position:relative; }
.register .this_line:after{
    display:block; content:"OR"; width:30px; height:30px; -webkit-border-radius:30px; text-align:center; color:#fff; line-height:30px; font-size:14px;
    position:absolute; left:50%; top:50%; margin-left:-15px; margin-top:-15px; background:#000;
}
.register .this_btn{ text-align:center; padding:10px 0; font-size:0; }
.register .this_btn a{ display:inline-block; font-size:14px; line-height:30px; width:100px; background:#b7aa88; color:#fff; }
.register .this_btn a:hover{ background:#000; }
.register .this_btn a:nth-child(1){ margin-right:40px; }
.register .this_weixin{ padding:10px 0; }
.register .this_weixin a{
    display:block; line-height:30px; text-align:center; color:#fff; font-weight:bold;
    background-image:url(images/weixin.png), -webkit-linear-gradient(top, #6bb52c, #016832, #018734);
    background-position: 20px center, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: auto 30px, auto;
    -webkit-border-radius:4px;
}
.register article{ color:#999; line-height:20px; }


/*start*/
.start{ width:100%; padding:20px 10px; -webkit-box-sizing:border-box; }
.start .this_logo_1,
.start .this_logo_2{ text-align:center; }
.start .this_logo_1 img{ width:200px; }
.start .this_logo_2 img{ width:160px; }
.start article{ text-align:center; line-height:30px; font-weight:bold; font-size:16px; color:#b7aa88; }
.start .this_btn{ margin-bottom:10px; }
.start .this_btn a{
    display:block; text-align:center; font-size:18px; font-weight:bold; line-height:40px;
    border:2px solid #b7aa88; color:#fff; -webkit-border-radius:40px;
    background:-webkit-linear-gradient(top, #d5c7a4, #86785e);
}
.start .this_logo{
    background-image: url(images/app_canvas_logo.png), url(images/app_canvas_logo.png), url(images/app_canvas_logo.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -480px 0, -240px 0, 0 0;
    background-size: 720px auto;
    width:240px; height:240px; margin:0 auto; margin-top:20px; margin-bottom:20px;
}