*{
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ 
    display:block; 
}
html{
    font-family:Arial;
}
body{
	font-family: Arial;
    font-size: 14px;
	/*-webkit-user-select:none;*/
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
    padding-top: 48px;
}
ul,li{ list-style: none; }
img{ border:0; }
li,img,label,input{ 
    vertical-align: middle; 
}
a{ 
    text-decoration: none; 
    outline: 0; 
    color: #333; 
}
a:visited{ 
    text-decoration: none;
}
a:hover{

}
em,b{ 
    font-style:normal;
}

.scrollfix{
    height: 100%;
    width: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
}


.header{
    height: 48px;
    display: -webkit-box;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    color: #fff;
    z-index: 100;
}
.header div:nth-child(1){
    width: 60px;
    line-height: 48px;
    text-align: center;
    color: #8b8d8e;
}
.header div:nth-child(2){
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
}
.header div:nth-child(2) .this_mid{
    vertical-align: middle;
    background: #ecbc4f;
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 20px;
    color: #000;
    -webkit-border-radius: 10px;
}
.header div:nth-child(3){
    width: 50px;
    height: 48px;
}
.header .this_shopping{
    background: url(images/icon_shopping.png) no-repeat 0 center;
    background-size: auto 20px;
    position: relative;
}
.header .this_shopping span{
    background: #ecbc4f;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
    -webkit-border-radius: 10px;
}



/*icon*/
.icon_return{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 25px;
    vertical-align: middle;
}
.icon_return:before,
.icon_return:after{
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: #8b8d8e;
    left: 2px;
    top: 50%;
}
.icon_return:before{
    margin-top: -7px;
    -webkit-transform: rotate(-45deg);
}
.icon_return:after{
    margin-top: 3px;
    -webkit-transform: rotate(45deg);
}


/*slider*/
.slider_01{
    width: 100%;
    display: none;
    overflow: hidden;
}
.slider_01 ul{
    display: -webkit-box;
}
.slider_01 li{
    display: block;
}
.slider_01 img{
    width: 100%;
    display: block;
}
.slider_01 li div{
    line-height: 30px;
    padding: 0 10px;
}

.slider_02{
    width: 100%;
    display: none;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #efbb62;
}
.slider_02 ul{
    display: -webkit-box;
}
.slider_02 li{
    display: block;
}
.slider_02 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.slider_02 li div{
    line-height: 30px;
    padding: 0 10px;
}
.slider_02 .this_left,
.slider_02 .this_right{
    background: rgba(0,0,0,.3);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    -webkit-border-radius: 20px;
}
.slider_02 .this_left{
    left: 10px;
}
.slider_02 .this_right{
    right: 10px;
}
.slider_02 .this_left:before,
.slider_02 .this_left:after,
.slider_02 .this_right:before,
.slider_02 .this_right:after{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 1px;
    background: #fff;
}
.slider_02 .this_left:before,
.slider_02 .this_right:before{
    -webkit-transform: rotate(-45deg);
}
.slider_02 .this_left:after,
.slider_02 .this_right:after{
    -webkit-transform: rotate(45deg);
}
.slider_02 .this_left:before{
    top: 15px;
    left: 10px;
}
.slider_02 .this_left:after{
    top: 25px;
    left: 10px;
}
.slider_02 .this_right:before{
    top: 25px;
    right: 11px;
}
.slider_02 .this_right:after{
    top: 15px;
    right: 11px;
}



/*nav*/
.nav_01{
    width: 100%;
    height: 40px;
    background: #000;
    display: -webkit-box;
}
.nav_01 li{
    width: 33.333%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.nav_01 li.current{
    color: #efbb62;
}
.nav_01 li.current:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #efbb62;
    display: block;
    content: "";
}


/*list*/
.list_01{
    background: #e6e6e6;
    padding: 5px 0;
    overflow: hidden;
    font-size: 0;
}
.list_01 li{
    display: inline-block;
    background: #fff;
    width: 50%;
    font-size: 12px;
    overflow: hidden;
    border: 6px solid #e6e6e6;
    -webkit-box-sizing: border-box;
}
.list_01 li:nth-child(odd){
    border-right: 3px solid #e6e6e6;
}
.list_01 li:nth-child(even){
    border-left: 3px solid #e6e6e6;
}
.list_01 li img{
    width: 100%;
}
.list_01 li div{
    overflow: hidden;
    padding: 0 5px;
}
.list_01 li div:nth-child(2){
    line-height: 25px;
    height: 25px;
}
.list_01 li div:nth-child(3){
    height: 25px;
}
.list_01 li .this_a{
    display: inline-block;
    background: #ecbc4e;
    padding: 3px 5px;
    color: #fff;
    -webkit-border-radius: 3px;
}
.list_01 li .this_b{
    color: #d66315;
    font-weight: bold;
}
.list_01 li .this_c{
    color: #9d9d9d;
    text-decoration: line-through;
}



/*menu*/
.menu_01{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background: rgba(0,0,0,.9);
    padding: 5px 0;
    height: 30px;
    display: -webkit-box;
}
.menu_01 li{
    display: block;
    -webkit-box-align: middle;
}
.menu_01 li:nth-child(1){
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 0;
}
.menu_01 li:nth-child(1) span{
    display: inline-block;
    width: 30px;
    height: 28px;
    border: 1px solid #666;
    vertical-align: middle;
    position: relative;
}
.menu_01 li:nth-child(1) span:after{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -1px;
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
}
.menu_01 li:nth-child(1) span:nth-child(3):before{
    position: absolute;
    display: block;
    content: "";
    height: 20px;
    width: 2px;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -1px;
}
.menu_01 li:nth-child(1) input{
    vertical-align: middle;
    display: inline-block;
    background: #666;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0 5px;
    text-align: center;
    color: #fff;
}
.menu_01 li:nth-child(2){
    width: 150px;
    background: #ecbc4f;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
}



/*text*/
.text_01{
    background: #dfdfdf;
    padding: 10px;
    line-height: 20px;
    color: #666;
}
.text_01 span{
    color: #e0640b;
    font-size: 16px;
}
.text_01 del{
    color: #999;
}



/*link*/
.link_01 li{
    display: block;
    line-height: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: url(images/icon_arrow.png) no-repeat right center #dfdfdf;
    background-size: 30px auto;
}



/*content*/
.content_01{
    line-height: 20px;
    padding: 10px;
}
.content_01 img{
    max-width: 100%;
}

