@font-face {
    font-family: "Zapfino";
    src:url("font/Zapfino.ttf") format("truetype");
}
@font-face {
    font-family: "Zapfino";
    src: url(//:) format("no404"), url("font/Zapfino.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: "myFont";
    src: local("FZLTXHJW--GB1-0"), url("font/FZLTXHJW.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "myFont";
    src: url("font/FZLTZCHK.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
*/
*{ margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block; }
html{ font-family:"FZLanTingHeiS-EL-GB", Arial; }
body{
	font-family:"FZLanTingHeiS-EL-GB", Arial; font-size:14px;
        font-weight:bold;
	/*-webkit-user-select:none;*/
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
background-color:black;
}
ul,li{ list-style:none; }
img{ border:0; }
li,img,label,input{ vertical-align:middle; }
a{ text-decoration:none; outline:0; color:#333; }
a:visited{ text-decoration:none; }
a:hover{ color:#247df5; color:#1663ff; }
em,b{ font-style:normal; }

.scrollfix{
    height:100%; width:100%; padding-top:44px;
    overflow-x:hidden; overflow-y:auto;
}

/*logo*/
.logo{ width:100%; background:#c2ad8f; padding:20px 10px 10px; text-align:center; box-sizing:border-box; }
.logo img{ display:block; margin:0 auto; width:200px; }

/*img list*/
.img_list_01{ width:100%; }
.img_list_01 li{ width:100%; display:block; }
.img_list_01 li div{ position:relative; width:100%; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,.3); }
.img_list_01 li a{ color:#fff; }
.img_list_01 li img{ display:block; width:100%; height:auto; }
.img_list_01 li dl{
	position:absolute; z-index:1; left:0; bottom:0; padding:10px; width:100%;
	background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
	box-sizing:border-box;
}
.img_list_01 li dt{ font:bold 20px/25px ; }
.img_list_01 li dd{ font:14px/20px FZLanTingHeiS-DB1-GBK; }
.img_list_01 article{ padding:10px; font:14px/20px FZLanTingHeiS-EL-GB; }

.img_list_02{ width:100%; }
.img_list_02 li{ position:relative; width:100%; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,.3); text-align:center; }
.img_list_02 li a{ color:#fff; }
.img_list_02 li img{ width:100%; display:block; }
.img_list_02 li dl{
	position:absolute; z-index:1; left:0; bottom:0; padding:10px; width:100%;
	background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
	box-sizing:border-box;
}
.img_list_02 li dt{ font:20px/40px Zapfino; }
.img_list_02 li dd{ font:16px/23px FZLanTingHeiS-EL-GB; }


.img_list_03{ width:100%; }
.img_list_03 li{ width:100%; display:block; }
.img_list_03 li div{ position:relative; width:100%; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,.3); }
.img_list_03 li a{ color:#fff; }
.img_list_03 li img{ display:block; width:100%; height:auto; }
.img_list_03 li dl{
    position:absolute; z-index:1; left:0; bottom:0; padding:10px; width:100%;
    background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
    box-sizing:border-box;
}
.img_list_03 li dt{ font:bold 20px/25px FZLanTingHeiS-DB1-GBK; }
.img_list_03 li dd{ font:14px/20px FZLanTingHeiS-EL-GB; color:#ddd; }
.img_list_03 article{ position:absolute; color:#ddd; z-index:2; right:10px; bottom:8px; }
.img_list_03 article span{ font-size:26px; color:#fff; }


/*title*/
.title_01{ color:#f0433e; font:bold 20px/40px FZLanTingHeiS-DB1-GBK; text-align:center; border-bottom:5px solid #f0433e; }
.title_02{ width:100%; font:bold 20px/20px FZLanTingHeiS-DB1-GBK; color:#f0433e; padding:10px; box-sizing:border-box; text-align:center; }

.title_03{
    background:-webkit-linear-gradient(top, #545252, #000); height:40px; line-height:40px;
    color:#fff; text-align:center; font-size:14px; padding:0 10px; -webkit-box-sizing:border-box;
}
.title_03 li{ display:inline-block; }
.title_03 li:nth-child(2){ width:100px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }

.title_04{
    background: #7a7a7a;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}
.title_04:first-line{
    font-size: 16px;
    font-weight: bold;
}

/*detail*/
.detail{ width:100%; font:14px/20px FZLanTingHeiS-EL-GB; -webkit-box-sizing:border-box; padding:10px; }

.detail_01{ width:100%; position:relative; }
.detail_01 div{ padding:20px; color:#9fa0a0; line-height:21px; }
.detail_01 div span{ color:#f0433e; }
.detail_01 img{ position:absolute; right:20px; top:50%; margin-top:-50px; height:100px; }


/*art list*/
.art_list_01{ width:100%; }
.art_list_01 li{
	width:100%; font:bold 16px/40px FZLanTingHeiS-DB1-GBK; color:#fff; text-align:center; border-top:1px solid #de5c4d;
	background:-webkit-linear-gradient(top, #e8443f, #db3f3b, #c93935);
}
.art_list_01 li a{ color:#fff; display:block; }

.art_list_02{ width:100%; }
.art_list_02 li{
	width:100%; font:bold 16px/30px FZLanTingHeiS-DB1-GBK; color:#fff; text-align:center; border-top:1px solid #de5c4d;
	background:-webkit-linear-gradient(top, #e8443f, #db3f3b, #c93935);
}
.art_list_02 li a{ color:#fff; display:block; }

.art_list_03{ width:100%; }
.art_list_03 li{
	width:100%; font:14px/20px FZLanTingHeiS-EL-GB; text-align:center; text-align:center; padding:10px;
	box-sizing:border-box;
}
.art_list_03 li a{ display:block; }
.art_list_03 li span{ color:#f0433e; }

.art_list_03 li:nth-child(1),
.art_list_03 li:nth-child(9),
.art_list_03 li:nth-child(17),
.art_list_03 li:nth-child(25),
.art_list_03 li:nth-child(33),
.art_list_03 li:nth-child(41){ background:#fff; }

.art_list_03 li:nth-child(2),
.art_list_03 li:nth-child(10),
.art_list_03 li:nth-child(18),
.art_list_03 li:nth-child(26),
.art_list_03 li:nth-child(34),

.art_list_03 li:nth-child(8),
.art_list_03 li:nth-child(16),
.art_list_03 li:nth-child(24),
.art_list_03 li:nth-child(32),
.art_list_03 li:nth-child(40){ background:#eeeeef; }

.art_list_03 li:nth-child(3),
.art_list_03 li:nth-child(11),
.art_list_03 li:nth-child(19),
.art_list_03 li:nth-child(27),
.art_list_03 li:nth-child(35),

.art_list_03 li:nth-child(7),
.art_list_03 li:nth-child(15),
.art_list_03 li:nth-child(23),
.art_list_03 li:nth-child(31),
.art_list_03 li:nth-child(39){ background:#e5e5e6; }

.art_list_03 li:nth-child(4),
.art_list_03 li:nth-child(12),
.art_list_03 li:nth-child(20),
.art_list_03 li:nth-child(28),
.art_list_03 li:nth-child(36),

.art_list_03 li:nth-child(6),
.art_list_03 li:nth-child(14),
.art_list_03 li:nth-child(22),
.art_list_03 li:nth-child(30),
.art_list_03 li:nth-child(38){ background:#dbdcdc; }

.art_list_03 li:nth-child(5),
.art_list_03 li:nth-child(13),
.art_list_03 li:nth-child(21),
.art_list_03 li:nth-child(29),
.art_list_03 li:nth-child(37){ background:#d2d2d3; }


.art_list_04 li{
    padding: 10px 20px;
    font-size: 12px;
    font-weight: normal;
    color: #9fa0a0;
}
.art_list_04 li h3{
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}
.art_list_04 li:nth-child(odd){
    background: #f6f7f7;
    line-height: 16px;
}

/*icon*/
.icon_restaurant,
.icon_hotel,
.icon_shopping{ display:inline-block; width:20px; height:20px; vertical-align:middle; }
.icon_restaurant{ background:url(images/icon_restaurant.png) no-repeat center center; background-size:100% 100%; }
.icon_hotel{ background:url(images/icon_hotel.png) no-repeat center center; background-size:100% 100%; }
.icon_shopping{ background:url(images/icon_shopping.png) no-repeat center center; background-size:100% 100%; }

.icon{ display:inline-block; }
.icon_01{}

.icon_blue_day{
    width:54px; height:54px; -webkit-border-radius:70px; text-align:center; color:#fff;
    border:2px solid #21456d; font-family:Zapfino; float:right; margin-right:35px; margin-top:-28px;
    background:-webkit-linear-gradient(top, #6994cc, #355f8f); text-indent:-6px;
    position:relative; z-index:3; line-height:54px; font-size:12px;
}

.icon_user{
    background: url(images/icon_user.png) no-repeat 0 0;
    background-size: 100% auto;
    width: 16px;
    height: 18px;
    display:inline-block;
    vertical-align: middle;
}

.icon_male,
.icon_female{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.icon_male.select,
.icon_female.select{
    position: relative;
}
.icon_male.select:after,
.icon_female.select:after{
    position: absolute;
    bottom: -1px;
    right: -1px;
    background: url(images/icon_ok.png) no-repeat center center;
    width: 10px;
    height: 10px;
    background-size: 100% auto;
    content: "";
    display: block;
}
.icon_male{
    background: url(images/icon_male.png) no-repeat center center;
    background-size: 100% auto;
}
.icon_female{
    background: url(images/icon_female.png) no-repeat center center;
    background-size: 100% auto;
}

.icon_shoppingcar{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 20px;
    background: url(images/icon_shoppingcar.png) no-repeat center center;
    background-size: 100% auto;
}

.icon_collect{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 20px;
    background: url(images/icon_collect.png) no-repeat center center;
    background-size: 100% auto;
}

.icon_reply{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 20px;
    background: url(images/icon_reply.png) no-repeat center center;
    background-size: 100% auto;
}

/*content*/
.content{ width:100%; }
.content h3{ font-family:"Zapfino"; text-align:center; padding:0 10px; font-weight:bold; }
.content h3 div{ background:url(images/line_01.jpg?v=4) repeat-x center center; background-size:11px auto; }
.content h3 span{
	display:inline-block; color:#fff; text-align:center; width:80px; height:80px; background:#c2ad8f; line-height:80px; font-size:12px;
	border-radius:40px;
}
.content .this_img{ padding:10px 0; width:100%; }
.content .this_img img{ display:block; width:100%; }

.content .this_title_01,
.content .this_title_02{ text-align:center; color:#c2ad8f; font-size:14px; padding:10px 0; }
.content .this_title_02{
	background:url(images/line_01.jpg) repeat-x center top; background-size:11px auto;
	font-family:"Zapfino"; margin:0 10px; padding:20px 0; line-height:30px;
}
.content .this_title_01 dt{ font-family:"Zapfino"; line-height:30px; }
.content .this_title_01 dd{ line-height:24px; font-size:18px; font-weight:bold; }
.content .this_title_02 dt{ font-size:12px;  }
.content .this_title_02 dd{ font-weight:bold; }

.content .this_detail{ padding:20px 10px; }
.content .this_detail dt{ color:#c2ad8f; font-size:16px; line-height:30px; }
.content .this_detail dd{ padding-left:20px; position:relative; color:#888; line-height:20px; }
.content .this_detail dd:before{ width:8px; height:8px; background:#c2ad8f; position:absolute; left:3px; top:6px; content:""; display:block; }

.content .this_text{ padding:10px; line-height:20px; }
.content .this_text strong{ font-size:16px; line-height:24px; }


.content_01{ padding:20px 10px; }
.content_01 h2{ color:#fff; font-size:16px; font-weight:normal; line-height:23px; padding:5px 0; }
.content_01 h2 strong{ font-size:18px; }
.content_01 article{ color:#989898; font-size:12px; }
.content_01 a{ color:#1a9fd8; display:block; line-height:30px; padding-bottom:10px; border-bottom:1px dotted #1a9fd8; }



/*tab*/
.tab_01{
    width:100%; height:60px; display:-webkit-box;
    background:-webkit-linear-gradient(top, #727171, #020202);
    position:absolute; top:0; left:0; z-index:100;
}
.tab_01:before,
.tab_01:after{ content:""; display:block; position:absolute; left:50%; z-index:1; }
.tab_01:before{
    width:80%; margin-left:-40%; height:6px; top:10px;
    border-radius:6px;
    background:-webkit-linear-gradient(top, #6e6c6c, #161514);
}
.tab_01:after{
    width:78%; margin-left:-39%; height:4px; top:11px; background:#000;
    border-radius:4px;
}
.tab_01 li{ display:block; width:50%; position:relative; z-index:2; }
.tab_01 li:nth-child(1).current a{
    background:url(images/tab_01_l.png) no-repeat center 0; background-size:auto 30px;
}
.tab_01 li:nth-child(2).current a{
    background:url(images/tab_01_r.png) no-repeat center 0; background-size:auto 30px;
}
.tab_01 li a{
    color:#9fa0a0; text-shadow:0px -2px rgba(0,0,0,1); line-height:35px;
    display:block; text-align:center; padding-top:25px;
}
.tab_01 li.current a{ color:#fff; }




/*button*/
.btn_01{
    width:90%; margin:0 auto; display:block; line-height:36px; text-align:center; color:#fff;
    background:-webkit-linear-gradient(top, #b5b6b6, #898a8a); font-size:16px;
    -webkit-border-radius:18px;
}

.btn_02{
    color:#fff; text-align:center; line-height:20px; width:180px; margin-top:-10px; position:relative;
    -webkit-border-radius:12px; z-index:3; float:right; margin-right:10px; font-size:11px;
    border:1px solid #23456d; cursor:pointer; text-indent:12px;
    background-image:url(images/icon_hand_01.png), -webkit-linear-gradient(top, #6a95ce, #365e8e);
    background-repeat:no-repeat, repeat;
    background-position:10px 4px, 0 0;
    background-size:12px auto, auto;
}
.btn_02.current{
    background-image:url(images/icon_hand_02.png), -webkit-linear-gradient(top, #6a95ce, #365e8e);
    background-repeat:no-repeat, repeat;
    background-position:10px 4px, 0 0;
    background-size:12px auto, auto;
}

.btn_red,
.btn_black{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 15px;
}
.btn_red:hover,
.btn_black:hover{ color: #fff; }
.btn_red{
    background:-webkit-linear-gradient(top, #d6000f, #820000);
}
.btn_black{
    background:-webkit-linear-gradient(top, #575454, #040404);
}





/*aside*/
.aside{ width:100%; height:40px; position:absolute; left:0; z-index:100; top:50%; margin-top:-20px; }
.aside li{
    display:block; width:30px; height:40px; position:absolute; top:0;
    background:rgba(0,0,0,.6);
}
.aside li:nth-child(1){
    left:0;
    border-top-right-radius:8px; border-bottom-right-radius:8px;
}
.aside li:nth-child(2){
    right:0;
    border-top-left-radius:8px; border-bottom-left-radius:8px;
}
.aside li:after,
.aside li:after{
    content:""; display:block; position:absolute; border:8px solid rgba(0,0,0,0); top:50%; margin-top:-7px;
}
.aside li:nth-child(1):after{ left:2px; border-right:8px solid #fff; }
.aside li:nth-child(2):after{ right:2px; border-left:8px solid #fff; }

/*list*/
.list_left_img{
    width: 100%;
}
.list_left_img li{
    padding: 20px 10px;
    display: -webkit-box;
}
.list_left_img li:nth-child(odd){
    background: #f6f7f7;
}
.list_left_img li img{
    width: 80px;
    height: 70px;
    display: block;
    margin-right: 10px;
}
.list_left_img li div{
    -webkit-box-flex: 1;
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
}
.list_left_img li div p:nth-child(1){
    color: #000;
}
.list_left_img li div p:nth-child(2){
    color: #b1b2b2;
}
.list_left_img li div p:nth-child(3),
.list_left_img li div p:nth-child(4){
    color: #00a0e9;
}
.list_left_img li div p:nth-child(3){
    font-size: 16px;
    font-weight: bold;
}


/*header*/
.header_01{
    background:-webkit-linear-gradient(top, #545252, #000);
    height:40px;
    line-height:40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}
.header_01 b{
    margin-right: 5px;
}
.header_01 span{
    margin-left: 5px;
}
.header_01 button{
    width: 26px;
    height: 26px;
    -webkit-border-radius: 13px;
    color: #fff;
    border: 1px solid #000;
    position: absolute;
    right: 20px;
    top: 8px;
    text-align: center;
    outline: none;
    cursor: pointer;
    background:-webkit-linear-gradient(top, #000, #494646);
}


/*text user info*/
.text_userinfo{
    padding: 10px;
    margin: 0 auto;
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #b8b8b8;
    margin-bottom: 20px;
}
.text_userinfo section{
    background: #fff;
    padding: 5px;
    line-height: 20px;
}
.text_userinfo section span{
    padding: 0 5px;
    color: #000;
}
.text_userinfo section span.current{
    color: #00a0e9;
}
.text_userinfo li{
    border-bottom: 1px solid #dfdfdf;
    line-height: 30px;
    height: 30px;
    padding: 5px 0;
    display: -webkit-box;
}
.text_userinfo li label{
    width: 60px;
    display: block;
    text-align: left;
}
.text_userinfo li div{
    -webkit-box-flex: 1;
    text-align: right;
}
.text_userinfo li span{
    margin-left: 5px;
}
.text_userinfo li input{
    background: #000;
    outline: none;
    border: none;
    color: #b8b8b8;
    text-align: right;
    padding: 0;
}


.list_input{
    margin: 0 20px;
    padding: 10px 0;
    border-top: 1px solid #dcdddd;
    border-bottom: 1px solid #dcdddd;
}
.list_input li{
    padding: 5px 0;
    color: #9fa0a0;
    display: -webkit-box;
    -webkit-box-align: center;
}
.list_input li label{
    -webkit-box-flex: 1;
    display: block;
}
.list_input li input{
    background: #fff;
    line-height: 20px;
    padding: 10px 20px;
    border: none;
    width: 140px;
    color: #9fa0a0;
    -webkit-border-radius: 20px;
}

.list_nav{
    padding: 10px 10px 10px 20px;
    font-size: 0;
}
.list_nav li{
    background: #9fa0a0;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-border-radius: 15px;
}
.list_nav li.select{
    background: #00a0e9;
}


.timer{
    height: 100px;
    width: 100px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-border-radius: 50px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border: 1px solid #ccc;
    background:-webkit-linear-gradient(top, #ccc, #ccc);
}
.timer span{
    font-size: 30px;
    font-weight: normal;
}
.timer.active{
    border: 1px solid #000;
    background:-webkit-linear-gradient(top, #494646, #000);
    cursor: pointer;
}

.list_btn{
    display: -webkit-box;
    margin: 0 20px 20px;
    padding-top: 20px;
}
.list_btn a{
    display: block;
    -webkit-box-flex: 1;
    background:-webkit-linear-gradient(top, #d6000f, #820000);
    line-height: 30px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 15px;
}
.list_btn a:nth-child(1){
    margin-right: 5px;
}
.list_btn a:nth-child(2){
    margin-left: 5px;
}


.frame{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8);
}

.frame_01{
    margin: 10px 10px 0;
    background: #eee;
    padding: 10px 0 20px;
    -webkit-border-radius: 20px;
}