*{
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ 
    display:block; 
}
html{
    font-family:Arial;
}
body{
	font-family: Arial;
    font-size: 14px;
	/*-webkit-user-select:none;*/
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
    padding-top: 48px;
}
ul,li{ list-style: none; }
img{ border:0; }
li,img,label,input{ 
    vertical-align: middle; 
}
a{ 
    text-decoration: none; 
    outline: 0; 
    color: #333; 
}
a:visited{ 
    text-decoration: none;
}
a:hover{

}
em,b{ 
    font-style:normal;
}

.scrollfix{
    height: 100%;
    width: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
}


.header{
    height: 48px;
    display: -webkit-box;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    color: #fff;
    z-index: 100;
}
.header div:nth-child(1){
    width: 60px;
    line-height: 48px;
    text-align: center;
    color: #8b8d8e;
}
.header div:nth-child(2){
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
}
.header div:nth-child(2) .this_mid{
    vertical-align: middle;
    background: #ecbc4f;
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 20px;
    color: #000;
    -webkit-border-radius: 10px;
}
.header div:nth-child(3){
    width: 50px;
    height: 48px;
}
.header .this_shopping{
    background: url(images/icon_shopping.png) no-repeat 0 center;
    background-size: auto 20px;
    position: relative;
}
.header .this_shopping span{
    background: #ecbc4f;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
    -webkit-border-radius: 10px;
}
.header .this_text{
    line-height: 48px;
    color: #8b8d8e;
}
.header div.this_addr{
    width: 70px;
}


.header_01{
    height: 48px;
    display: -webkit-box;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 100;
    -webkit-box-align: center;
}
.header_01 div:nth-child(1){
    position: relative;
    width: 50px;
    height: 48px;
}
.header_01 div:nth-child(1):before,
.header_01 div:nth-child(1):after{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background: #ef3e38;
    left: 10px;
    top: 50%;
}
.header_01 div:nth-child(1):before{
    margin-top: -5px;
    -webkit-transform: rotate(-45deg);

}
.header_01 div:nth-child(1):after{
    margin-top: 5px;
    -webkit-transform: rotate(45deg);
}
.header_01 div:nth-child(2){
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 14px;
}
.header_01 .this_addr{
    width: 80px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #ccc;
    background: #f5f5f5;
    margin-right: 5px;
    cursor: pointer;
    -webkit-border-radius: 4px;
}
.header_01 .this_submit{
    width: 80px;
    line-height: 23px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: #ff5b59;
}

.header_02{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    line-height: 48px;
    display: -webkit-box;
    background: #f53f36;
    font-size: 12px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.header_02 div:nth-child(1),
.header_02 div:nth-child(3){
    width: 70px;
}
.header_02 div:nth-child(2){
    background: #ff564f;
    font-size: 14px;
    -webkit-box-flex: 1;
}




/*icon*/
.icon_return{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 25px;
    vertical-align: middle;
}
.icon_return:before,
.icon_return:after{
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: #8b8d8e;
    left: 2px;
    top: 50%;
}
.icon_return:before{
    margin-top: -7px;
    -webkit-transform: rotate(-45deg);
}
.icon_return:after{
    margin-top: 3px;
    -webkit-transform: rotate(45deg);
}


/*slider*/
.slider_01{
    width: 100%;
    display: none;
    overflow: hidden;
}
.slider_01 ul{
    display: -webkit-box;
}
.slider_01 li{
    display: block;
}
.slider_01 img{
    width: 100%;
    display: block;
}
.slider_01 li div{
    line-height: 30px;
    padding: 0 10px;
}

.slider_02{
    width: 100%;
    display: none;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #efbb62;
}
.slider_02 ul{
    display: -webkit-box;
}
.slider_02 li{
    display: block;
}
.slider_02 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.slider_02 li div{
    line-height: 30px;
    padding: 0 10px;
}
.slider_02 .this_left,
.slider_02 .this_right{
    background: rgba(0,0,0,.3);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    -webkit-border-radius: 20px;
}
.slider_02 .this_left{
    left: 10px;
}
.slider_02 .this_right{
    right: 10px;
}
.slider_02 .this_left:before,
.slider_02 .this_left:after,
.slider_02 .this_right:before,
.slider_02 .this_right:after{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 1px;
    background: #fff;
}
.slider_02 .this_left:before,
.slider_02 .this_right:before{
    -webkit-transform: rotate(-45deg);
}
.slider_02 .this_left:after,
.slider_02 .this_right:after{
    -webkit-transform: rotate(45deg);
}
.slider_02 .this_left:before{
    top: 15px;
    left: 10px;
}
.slider_02 .this_left:after{
    top: 25px;
    left: 10px;
}
.slider_02 .this_right:before{
    top: 25px;
    right: 11px;
}
.slider_02 .this_right:after{
    top: 15px;
    right: 11px;
}



/*nav*/
.nav_01{
    width: 100%;
    height: 40px;
    background: #000;
    display: -webkit-box;
}
.nav_01 li{
    width: 33.333%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.nav_01 li.current{
    color: #efbb62;
}
.nav_01 li.current:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #efbb62;
    display: block;
    content: "";
}


/*list*/
.list_01{
    background: #e6e6e6;
    padding: 5px 0;
    overflow: hidden;
    font-size: 0;
}
.list_01 li{
    display: inline-block;
    background: #fff;
    width: 50%;
    font-size: 12px;
    overflow: hidden;
    border: 6px solid #e6e6e6;
    -webkit-box-sizing: border-box;
}
.list_01 li:nth-child(odd){
    border-right: 3px solid #e6e6e6;
}
.list_01 li:nth-child(even){
    border-left: 3px solid #e6e6e6;
}
.list_01 li img{
    width: 100%;
}
.list_01 li div{
    overflow: hidden;
    padding: 0 5px;
}
.list_01 li div:nth-child(2){
    line-height: 25px;
    height: 25px;
}
.list_01 li div:nth-child(3){
    height: 25px;
}
.list_01 li .this_a{
    display: inline-block;
    background: #ecbc4e;
    padding: 3px 5px;
    color: #fff;
    -webkit-border-radius: 3px;
}
.list_01 li .this_b{
    color: #d66315;
    font-weight: bold;
}
.list_01 li .this_c{
    color: #9d9d9d;
    text-decoration: line-through;
}


.list_02 li{
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    -webkit-box-align: center;
}
.list_02 li img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 10px;
}
.list_02 li div{
    -webkit-box-flex: 1;
}


.list_03 dd{
    border-top: 1px solid #ccc;
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.list_03 .this_lia{
    position: absolute;
    z-index: 2;
    left: -60px;
    width: 60px;
    top: 20px;
    height: 60px;
    text-align: center;
}
.list_03 .this_lia span{
    display: block;
    background: red;
    margin: 0 auto;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    position: relative;
    vertical-align: middle;
    -webkit-border-radius: 15px;
}
.list_03 .this_lia span:after{
    display: block;
    content: "";
    background: #fff;
    width: 14px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -1px;
}
.list_03 .this_lib{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 20px;
    display: -webkit-box;
    -webkit-box-align: center;
}
.list_03 .this_lib img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 10px;
}
.list_03 .this_lib div:nth-child(2){
    -webkit-box-flex: 1;
    padding-right: 10px;
}
.list_03 .this_lib div:nth-child(3){
    width: 70px;
    text-align: center;
    color: #f63e37;
}
.list_03 .this_lib div:nth-child(3) input{
    width: 30px;
    height: 24px;
    display: block;
    margin: 0 auto;
    background: #eee;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    text-align: center;
    color: #000;
    outline: none;
}


.list_04 li{
    font-size: 12px;
    position: relative;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px 0 10px 50px;
    background: url(images/icon_path.jpg) no-repeat 15px center #fff;
    background-size: 20px auto;
}
.list_04 li:first-line{
    font-size: 14px;
    font-weight: bold;
}
.list_04 li:before,
.list_04 li:after{
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: #ccc;
    right: 10px;
    top: 50%;
}
.list_04 li:before{
    margin-top: -5px;
    -webkit-transform: rotate(45deg);
}
.list_04 li:after{
    margin-top: 5px;
    -webkit-transform: rotate(-45deg);
}


.list_05 li{
    color: #666;
    line-height: 20px;
    font-size: 12px;
    padding: 20px 10px 20px 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.list_05 li:first-line{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.list_05 li span{
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
.list_05 li.current{
    background: url(images/icon_ok.jpg) no-repeat 15px center #fff;
    background-size: 20px auto;
}



/*menu*/
.menu_01{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background: rgba(0,0,0,.9);
    padding: 5px 0;
    height: 30px;
    display: -webkit-box;
}
.menu_01 li{
    display: block;
    -webkit-box-align: middle;
}
.menu_01 .this_text{
    color: #ebbc4e;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.menu_01 li:nth-child(1){
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 0;
}
.menu_01 li:nth-child(1) .this_minus,
.menu_01 li:nth-child(1) .this_sum{
    display: inline-block;
    width: 30px;
    height: 28px;
    border: 1px solid #666;
    vertical-align: middle;
    position: relative;
}
.menu_01 li:nth-child(1) .this_minus:after,
.menu_01 li:nth-child(1) .this_sum:after{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -1px;
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
}
.menu_01 li:nth-child(1) .this_sum:before{
    position: absolute;
    display: block;
    content: "";
    height: 20px;
    width: 2px;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -1px;
}
.menu_01 li:nth-child(1) input{
    vertical-align: middle;
    display: inline-block;
    background: #666;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0 5px;
    text-align: center;
    color: #fff;
}
.menu_01 li:nth-child(2){
    width: 150px;
    background: #ecbc4f;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
}


.menu_02{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background: rgba(0,0,0,.9);
    padding: 5px 0;
    height: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
}
.menu_02 li{
    display: block;
    line-height: 30px;
    text-align: center;
}
.menu_02 li:nth-child(1),
.menu_02 li:nth-child(4){
    width: 5px;
}
.menu_02 li:nth-child(2){
    width: 60%;
    background: #cd9a2a;
}
.menu_02 li:nth-child(2) span{
    color: #fff;
    font-size: 16px;
}
.menu_02 li:nth-child(3){
    -webkit-box-flex: 1;
    background: #ecbd50;
}




/*text*/
.text_01{
    background: #dfdfdf;
    padding: 10px;
    line-height: 20px;
    color: #666;
}
.text_01 span{
    color: #e0640b;
    font-size: 16px;
}
.text_01 del{
    color: #999;
}


.text_02{
    padding: 10px;
    line-height: 30px;
}
.text_02 span{
    background: #ebbc52;
    display: inline-block;
    padding: 0 5px;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
.text_02 input{
    display: inline-block;
    border: 1px solid #ccc;
    height: 28px;
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
    outline: none;
    text-align: center;
}

.text_03{
    background: #f4ebda;
    line-height: 20px;
    padding: 10px;
    font-size: 12px;
}

.text_04{
    background: url(images/icon_warn.jpg) no-repeat 5px center #f4ebda;
    background-size: 20px auto;
    line-height: 16px;
    padding: 10px 10px 10px 30px;
    font-size: 12px;
}

.text_05{
    margin-bottom: 5px;
    font-size: 12px;
    background: #fff;
}
.text_05 .this_title{
    line-height: 30px;
    background: #f5f5f5;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
}
.text_05 .this_title span{
    float: right;
    color: #e9ca6f;
}
.text_05 .this_addr{
    padding: 10px 5px;
    line-height: 14px;
    border-bottom: 1px solid #ddd;
}
.text_05 .this_price{
    padding: 10px 5px 10px 25px;
    background: url(images/icon_clock.jpg) no-repeat 5px center;
    background-size: 20px auto;
    display: -webkit-box;
}
.text_05 .this_price li:nth-child(1){
    -webkit-box-flex: 1;
}
.text_05 .this_price li:nth-child(2){
    color: #cf4c38;
}
.text_05 .this_list{
    display: -webkit-box;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.text_05 .this_list li{
    line-height: 20px;
}
.text_05 .this_list li:nth-child(1){
    width: 70px;
    text-indent: 5px;
}
.text_05 .this_list li:nth-child(2){
    -webkit-box-flex: 1;
}
.text_05 .this_list li:nth-child(3){
    width: auto;
    text-align: right;
    padding-right: 5px;
}
.text_05 .this_list li:nth-child(3) span{
    color: #cf4c38;
}

.text_06{
    background: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.text_06 .this_title{
    background: url(images/icon_car.jpg) no-repeat 5px center;
    background-size: 20px auto;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    padding-left: 30px;
}
.text_06 .this_text{
    padding: 5px 10px;
}
.text_06 .this_text ul{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.text_06 .this_text li{
    display: -webkit-box;
    line-height: 20px;
}
.text_06 .this_text li div:nth-child(1){
    -webkit-box-flex: 1;
}


.text_07{
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: -webkit-box;
    margin-bottom: 5px;
}
.text_07 li:nth-child(1){
    border-right: 1px solid #ddd;
}
.text_07 li:nth-child(1) div{
    line-height: 20px;
}
.text_07 li:nth-child(1) span{
    float: right;
    padding-right: 10px;
}
.text_07 li{
    width: 50%;
}
.text_07 li:nth-child(2){
    text-align: center;
}


.text_08{
    display: -webkit-box;
    padding: 10px;
    background: #f4f4f4;
    border-top: 1px solid #f0b9b8;
}
.text_08 div:nth-child(1){
    text-align: right;
    padding-right: 10px;
    width: 60%;
}
.text_08 div:nth-child(1) span{
    font-size: 18px;
    color: #fe3a34;
}
.text_08 div:nth-child(2) a{
    background: #fe3a34;
    line-height: 40px;
    width: 80px;
    text-align: center;
    color: #fff;
    display: block;
    -webkit-border-radius: 3px;
}


.text_09{
    background: #ffffee;
    line-height: 16px;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}
.text_09 span{
    color: #f53f37;
}


.text_10{
    padding: 20px;
    background: #fff;
    font-size: 12px;
}
.text_10 ul{
    margin-bottom: 10px;
}
.text_10 li{
    line-height: 20px;
    position: relative;
}
.text_10 li span{
    color: #f53f37;
}
.text_10 li:before,
.text_10 li:after,
.text_10 div:before,
.text_10 div:after{
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: #ccc;
    right: 0px;
    top: 50%;
}
.text_10 li:before,
.text_10 div:before{
    margin-top: -5px;
    -webkit-transform: rotate(45deg);
}
.text_10 li:after,
.text_10 div:after{
    margin-top: 5px;
    -webkit-transform: rotate(-45deg);
}
.text_10 div{
    padding: 10px 0;
    position: relative;
}
.text_10 button{
    background: #ff564f;
    line-height: 40px;
    border: none;
    width: 80%;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    -webkit-border-radius: 3px;
}



/*link*/
.link_01 li{
    display: block;
    line-height: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: url(images/icon_arrow.png) no-repeat right center #dfdfdf;
    background-size: 30px auto;
}



/*content*/
.content_01{
    line-height: 20px;
    padding: 10px;
}
.content_01 img{
    max-width: 100%;
}



.frame{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 101;
}

.frame_con{
    font-size: 12px;
    background: #fff;
    height: 400px;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45%;
    margin-top: -200px;
}
.frame_con h2{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.frame_con .this_text{
    background: #fdf4e3;
    line-height: 20px;
    height: 40px;
    padding: 5px 10px;
}
.frame_con ul{
    margin-bottom: 10px;
}
.frame_con li{
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.frame_con input{
    border: none;
    background: #fff;
    outline: none;
}
.frame_con li:nth-child(2){
    display: -webkit-box;
}
.frame_con li:nth-child(2) div{
    border-right: 1px solid #ddd;
    width: 33.3333%;
    padding: 0 5px;
}
.frame_con .this_toggle{
    display: block;
    float: right;
    background: red;
    height: 20px;
    width: 40px;
    border: 1px solid #26b33e;
    background: -webkit-linear-gradient(left, #26b33e 0%, #26b33e 50%, #fff 50%, #fff 100%);
}
.frame_con .this_toggle.current{
    background: -webkit-linear-gradient(left, #fff 0%, #fff 50%, #26b33e 5%, #26b33e 100%);
}
.frame_con button{
    background: #fe3a34;
    outline: none;
    border: none;
    line-height: 40px;
    color: #fff;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}




